*, :before, :after {
    box-sizing: inherit;
}   

div {
    display: block;
}

main {
    display: block;
}

.homeScroll {
    --home-hero-height: calc(min(9.29px * 100, 80vw));
}

.homeScroll {
    --mapped-progress: calc((0.616651 - 0.5) / 0.5);
    --home-hero-height: calc(9.29px * 100);
    position: relative;
    width: 100%;
    height: var(--home-hero-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.homeScrollContent {
    position: relative;
    width: 100%;
    mix-blend-mode: difference;
    z-index: 10;
}

.homeScrollContent {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.33333rem;
    padding-left: 1.33333rem;
}

.homeHeading {
    font-size: 3.33333rem;
    font-family: "PPFragment"
}

.homeHeading {
    font-weight: initial;
    line-height: 1.1;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: initial;
    margin: 0;
}

h1 {
    font-size: 2em;
}

.HomeScrollBackground {
    position: fixed;
    inset: 0;
    z-index: -1;
    transform: translate3d(0, calc(1vh * var(--mapped-progress)), 0);
}

.HomeScrollBackground:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 10;
    background-color: var(--color);
    opacity: calc(var(--mapped-progress) * 0.75);
}

div {
    display: block;
}

.homeVideo>* {
    position: absolute;
    inset: 0;
}

.homeVideoView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 0;
}   

video {
    vertical-align: middle;
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.homeScrollContainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.33333rem;
    padding-left: 3.33333rem;
}

.homeSummary {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.2;
    display: flex;
    justify-content: center;
}

.homeSummaryLabelInner {
    display: grid;
    gap: calc(20px/2);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "text text visual visual"
        "footer footer visual visual";
    width: calc((100vw - 20px * (8 - 1) - 1.33333rem * 2) * 4/8 + 20px * (4 + -1));
}

.homeSummaryVisual {
    grid-area: visual;
    aspect-ratio: 5/7;
}

.homeVisualSequence {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.homeVisualSequenceWrapper, .homeVisualCanvas {
    width: 100%;
    height: 100%;
}

.homeVisualSequenceImage {
    background-image: url('src/assets/printer.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
}

.homeSummaryFooter {
    display: inline-block;
    left: calc(calc(100% + 20px));
    position: relative;
    display: block;
    margin-top: 0.25em;
}

.homeSummaryFooter:before {
    position: absolute;
    bottom: 90%;
    content: '🛑';
    font-family: "PPFragment";
    font-size: 2em;
    line-height: 1;
}