*, :before, :after {
    box-sizing: inherit;
}

.Header1 {
    display: block;
}

.Header1 {
    mix-blend-mode: difference;
    color: #fff;
}

.Header1 {
    transform: translate3d(0px, 0px, 0px);
}

.Header1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 800;
    font-size: 1.9rem;
    line-height: 1.2;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
    padding: 0px 2rem;
    transition: transform .2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.headerLogo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

a {
    color: currentColor;
    touch-action: manipulation;
    text-decoration: none;
    background-color: transparent;
}

.headerLocomotive {
    display: inline-block;
}

.headerSymbol {
    position: relative;
    height: 0.9em;
    grid-column: 3 / 4; /* Cambia este valor según sea necesario */

}

.navHeader {
    grid-column: 5 / 10;
    grid-row: 1 / 2;
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navHeaderItemList {
    display: inline-block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding-left: 10px;
}

.navHeaderLinkItemList{
    font-kerning: none;
    color: currentColor;
    touch-action: manipulation;
    text-decoration: none;
    background-color: transparent;  
}

.navHeaderLinkItemList {
    position: relative;
  }

.headerContact {
    grid-column: 8 / 8;
    grid-row: 1 / 2;
}

.headerButton_menu-toggler {
    grid-column: 3 / 5;
    justify-self: end;
}

.headerButton_menu-toggler {
    grid-column: 7 / 9;
    grid-row: 1 / 2;
    justify-self: end;
}

button {
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background: none transparent;
    color: inherit;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    touch-action: manipulation;
}

button {
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

a span {
    text-decoration: none;
}
  
a:hover span {
    text-decoration: underline;
}
