@font-face {
  font-family: 'PPFragment';
  src: url('src/fonts/PPFragment-GlareLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.headerBackground {
  transition: background-color .3s cubic-bezier(0.215, 0.61, 0.355, 1),opacity .2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.headerBackground {
  opacity: 0;
}

.headerBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  transition: background-color .3s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 740;
  opacity: 0;
}

*, :before, :after {
  box-sizing: inherit;
}

div {
  display: block;
}


